{{#proyecto}}
<form action="/cortina" class="form-horizontal">

<div class="row no-gutter">
	<a href="/api/proyectos/{{_id}}" id="backbutton"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Regresar</a>
  <h4>Especificar Cortina</h4>

  <h5 class="box-heading">1. Dimensiones</h5>
	<div class="col-sm-5 col-sm-offset-2">
		 <div class="form-group">
      <label for="cor_a" class="col-sm-1 control-label">A</label>
      <div class="col-sm-3">
        <div class="input-group">
          <input type="number" class="form-control" name="cor_a">
       		<div class="input-group-addon">cm</div>
      	</div>
      </div>
			<label for="cor_a" class="control-label">ancho buque</label>
     </div>

     <div class="form-group">
      <label for="cor_h" class="col-sm-1 control-label">H</label>
      <div class="col-sm-3">
        <div class="input-group">
          <input type="number" class="form-control" name="cor_h">
       		<div class="input-group-addon">cm</div>
      	</div>
      </div>
			<label for="cor_h" class="control-label">alto buque</label>
     </div>

     <div class="form-group">
      <label for="cor_ci" class="col-sm-1 control-label">CI</label>
      <div class="col-sm-3">
        <div class="input-group">
          <input type="number" class="form-control" name="cor_ci">
       		<div class="input-group-addon">cm</div>
      	</div>
      </div>
			<label for="cor_ci" class="control-label">cargador superior interno</label>
     </div>

     <div class="form-group">
      <label for="cor_ce" class="col-sm-1 control-label">CE</label>
      <div class="col-sm-3">
        <div class="input-group">
          <input type="number" class="form-control" name="cor_ce">
       		<div class="input-group-addon">cm</div>
      	</div>
      </div>
			<label for="cor_ce" class="control-label">cargador superior externo</label>
     </div>

		 <div class="form-group">
      <label for="cor_li" class="col-sm-1 control-label">Li</label>
      <div class="col-sm-3">
        <div class="input-group">
          <input type="number" class="form-control" name="cor_li">
       		<div class="input-group-addon">cm</div>
      	</div>
      </div>
			<label for="cor_li" class="control-label">espacio lateral izquierdo</label>
     </div>
   

     <div class="form-group">
      <label for="cor_ld" class="col-sm-1 control-label">Ld</label>
      <div class="col-sm-3">
        <div class="input-group">
          <input type="number" class="form-control" name="cor_ld">
       		<div class="input-group-addon">cm</div>
      	</div>
      </div>
			<label for="cor_ld" class="control-label">espacio lateral derecho</label>
     </div>

     <div class="form-group">
      <label for="cor_p" class="col-sm-1 control-label">P</label>
      <div class="col-sm-3">
        <div class="input-group">
          <input type="number" class="form-control" name="cor_p">
       		<div class="input-group-addon">cm</div>
      	</div>
      </div>
			<label for="cor_p" class="control-label">profundidad cielo</label>
     </div>
  </div><!--end of column-->


  <div class="col-sm-5">

  	<div class="form-group">
  		<label for="cor_ss" class="col-sm-1 control-label">SS</label>
  		<div class="col-sm-3">
  			<div class="input-group">
  				<input type="number" class="form-control" name="cor_ss">
  				<div class="input-group-addon">cm</div>
  			</div>
  		</div>
  		<label for="cor_ss" class="control-label">lámina principal superior</label>
  	</div>
  	
  	<div class="form-group">
  		<label for="cor_sc" class="col-sm-1 control-label">SC</label>
  		<div class="col-sm-3">
  			<div class="input-group">
  				<input type="number" class="form-control" name="cor_sc">
  				<div class="input-group-addon">cm</div>
  			</div>
  		</div>
  		<label for="cor_sc" class="control-label">lámina secundaria</label>
  	</div>

  	<div class="form-group">
  		<label for="cor_si" class="col-sm-1 control-label">SI</label>
  		<div class="col-sm-3">
  			<div class="input-group">
  				<input type="number" class="form-control" name="cor_si">
  				<div class="input-group-addon">cm</div>
  			</div>
  		</div>
  		<label for="cor_si" class="control-label">lámina principal inferior</label>
  	</div>
		
		<div class="form-group">
  		<label for="cor_b" class="col-sm-1 control-label">B</label>
  		<div class="col-sm-3">
  			<div class="input-group">
  				<input type="number" class="form-control" name="cor_b">
  				<div class="input-group-addon">cm</div>
  			</div>
  		</div>
  		<label for="cor_b" class="control-label">ancho final libre</label>
  	</div>
		
		<div class="form-group">
      <label for="cor_ti" class="col-sm-1 control-label">Ti</label>
      <div class="col-sm-3">
        <div class="input-group">
          <input type="number" class="form-control" name="cor_ti">
       		<div class="input-group-addon">cm</div>
      	</div>
      </div>
			<label for="cor_ti" class="control-label">tubo a agregar izquierda</label>
    </div>

   	<div class="form-group">
      <label for="cor_td" class="col-sm-1 control-label">Td</label>
      <div class="col-sm-3">
        <div class="input-group">
          <input type="number" class="form-control" name="cor_td">
       		<div class="input-group-addon">cm</div>
      	</div>
      </div>
			<label for="cor_td" class="control-label">tubo a agregar derecha</label>
    </div>

    <div class="form-group">
      <label for="cor_di" class="col-sm-1 control-label">Di</label>
      <div class="col-sm-3">
        <div class="input-group">
          <input type="number" class="form-control" name="cor_di">
       		<div class="input-group-addon">cm</div>
      	</div>
      </div>
			<label for="cor_di" class="control-label">desnivel izquierdo</label>
    </div>

    <div class="form-group">
      <label for="cor_dd" class="col-sm-1 control-label">Dd</label>
      <div class="col-sm-3">
        <div class="input-group">
          <input type="number" class="form-control" name="cor_dd">
       		<div class="input-group-addon">cm</div>
      	</div>
      </div>
			<label for="cor_dd" class="control-label">desnivel derecho</label>
    </div>


  </div><!--end of column-->
</div><!--end of row-->

<div class="row no-gutter">
	<div style="text-align: center">
		<div class="diagram-container" style="border: 1px solid red;">
			<img src="img/cortina-main.png" alt="cortina-main" style="border: 1px solid green" />
			<div id="testinputdiv">	
				<input type="text" name="testinput" class="diagram-input"/>
			</div>
			<div id="testradio" class="radio">
				<label>
			    <input type="radio" name="cor_molding1" id="cor_molding1" value="option1" aria-label="...">
			  </label>
			</div>
			<div id="testradio2" class="radio">
				<label>
			    <input type="radio" name="cor_molding2" id="cor_molding2" value="option2" aria-label="...">
			  </label>
			</div>
			<div id="testradio3" class="radio">
				<label>
			    <input type="radio" name="cor_molding3" id="cor_molding3" value="option3" aria-label="...">
			  </label>
			</div>
			<div id="testradio4" class="radio">
				<label>
			    <input type="radio" name="cor_molding4" id="cor_molding4" value="option4" aria-label="...">
			  </label>
			</div>
			<div id="testradio5" class="radio">
				<label>
			    <input type="radio" name="cor_molding5" id="cor_molding5" value="option5" aria-label="...">
			  </label>
			</div>
		</div>
	</div>
</div>

{{!-- box 2 --}}
<div class="row no-gutter">
	<h5 class="box-heading">2. Herraje Principal</h5>
	<div class="col-sm-10 col-sm-offset-3">
			
		<div class="form-group">
			<label for="cor_ciclos" class="col-sm-2 control-label">Ciclos por hora:</label>
				<div class="col-sm-3">
					<select name="cor_ciclos" id="cor_ciclos" class="form-control">
						<option>0-2 veces/hora</option>
						<option>3-5 veces/hora</option>
						<option>6-14 veces/hora</option>
						<option>15-29 veces/hora</option>
						<option>30-50 veces/hora</option>
					</select>
				</div>
		</div>

		<div class="form-group">
			<label for="cor_horas" class="col-sm-2 control-label">Horas de uso:</label>
				<div class="col-sm-3">
					<select name="cor_horas" id="cor_horas" class="form-control">
						<option>8 horas/día</option>
						<option>12 horas/día</option>
						<option>24 horas/día</option>
					</select>
				</div>
		</div>

		<div class="form-group">
			<label for="cor_tipo_guia" class="col-sm-2 control-label">Tipo de Guía:</label>
				<div class="col-sm-3">
					<select name="cor_tipo_guia" id="cor_tipo_guia" class="form-control">
						<option>-defina guía-</option>
						<option>Guía 2 pulg</option>
						<option>Guía 3 pulg</option>
						<option>Guía 4 pulg</option>
					</select>
				</div>
		</div>
		
		<div class="form-group">
			<label for="cor_ojos" class="col-sm-2 control-label">Ojos fijación:</label>
				<div class="col-sm-1">
					<select name="cor_ojos" id="cor_ojos" class="form-control">
						<option>Si</option>
						<option>No</option>
					</select>
				</div>
		</div>

		<div class="form-group">
			<label for="cor_color_herr" class="col-sm-2 control-label">Color de Herraje:</label>
				<div class="col-sm-2">
					<select name="cor_color_herr" id="cor_color_herr" class="form-control">
						<option>Gris Ferguson</option>
						<option>Negro</option>
						<option>Blanco</option>
					</select>
				</div>
		</div>

		<div class="form-group">
			<label for="cor_col_izq" class="col-sm-2 control-label">Columna izquierda:</label>
				<div class="col-sm-5">
					<select name="cor_co_izq" id="cor_co_izq" class="form-control">
						<option>Concreto buenas condiciones</option>
						<option>Metal, existe buenas condiciones</option>
						<option>Gypsum, agregar columna ____x____</option>
						<option>Concreto, agregar columna ____x____</option>
					</select>
				</div>
		</div>

		<div class="form-group">
			<label for="cor_col_der" class="col-sm-2 control-label">Columna derecha:</label>
				<div class="col-sm-5">
					<select name="cor_col_der" id="cor_col_der" class="form-control">
						<option>Concreto buenas condiciones</option>
						<option>Metal, existe buenas condiciones</option>
						<option>Gypsum, agregar columna ____x____</option>
						<option>Concreto, agregar columna ____x____</option>
					</select>
				</div>
		</div>

		<div class="form-group">
			<label for="cor_carg_sup" class="col-sm-2 control-label">Cargador superior:</label>
				<div class="col-sm-5">
					<select name="cor_carg_sup" id="cor_carg_sup" class="form-control">
						<option>Concreto buenas condiciones</option>
						<option>Metal, existe buenas condiciones</option>
						<option>Gypsum, agregar columna ____x____</option>
						<option>Concreto, agregar columna ____x____</option>
					</select>
				</div>
		</div>

		<div class="form-group">
			<label for="cor_guia_des" class="col-sm-2 control-label">Guía desmontable:</label>
				<div class="col-sm-3">
					<select name="cor_guia_des" id="cor_guia_des" class="form-control">
						<option>No aplica</option>
						<option>Si, indicar ubicación relativa</option>
					</select>
				</div>
		</div>

	</div><!--end of column-->
</div>

{{!-- Box 3 --}}
<div class="row no-gutter">
	<h5 class="box-heading">3. Tipo de lámina</h5>
	<div class="col-sm-10 col-sm-offset-3">

		<div class="form-group">
			<label for="cor_perfil_pri" class="col-sm-2 control-label">Perfil principal:</label>
				<div class="col-sm-4">
					<select name="cor_perfil_pri" id="cor_perfil_pri" class="form-control">
						<option>-defina perfil principal-</option>
						<option>50 Elemax galv</option>
						<option>51 Elemax galv micro</option>
						<option>60 Elemax esmaltada</option>
						<option>61 Elemax esmaltada micro</option>
						<option>20 Flat slat</option>
						<option>21 Flat slat micro</option>
						<option>22 Flat slat insulada</option>
						<option>30 C275 Overhead</option>
						<option>40 Grille</option>
						<option>10 China lisa</option>
						<option>11 China microp.</option>
						<option>00 Perfil alto</option>
						<option>01 Perfil alto micro</option>
						<option>02 Perfil alto 20g</option>
					</select>
				</div>
		</div>

		<div class="form-group">
			<label for="cor_perfil_sec" class="col-sm-2 control-label">Perfil secundario:</label>
				<div class="col-sm-4">
					<select name="cor_perfil_sec" id="cor_perfil_sec" class="form-control">
						<option>-defina perfil principal-</option>
						<option>50 Elemax galv</option>
						<option>51 Elemax galv micro</option>
						<option>60 Elemax esmaltada</option>
						<option>61 Elemax esmaltada micro</option>
						<option>20 Flat slat</option>
						<option>21 Flat slat micro</option>
						<option>22 Flat slat insulada</option>
						<option>30 C275 Overhead</option>
						<option>40 Grille</option>
						<option>10 China lisa</option>
						<option>11 China microp.</option>
						<option>00 Perfil alto</option>
						<option>01 Perfil alto micro</option>
						<option>02 Perfil alto 20g</option>
					</select>
				</div>
		</div>

		<div class="form-group">
			<label for="cor_color_ext" class="col-sm-2 control-label">Color exterior:</label>
				<div class="col-sm-3">
					<select name="cor_color_ext" id="cor_color_ext" class="form-control">
						<option>-defina color-</option>
						<option>Gris-arena</option>
						<option>Galvanizado</option>
						<option>Café claro (china)</option>
						<option>Blanco (china)</option>
						<option>Gris (china)</option>
						<option>Verde (china)</option>
						<option>Gris overhead</option>
						<option>Reverso lógico</option>
					</select>
				</div>
		</div>

		<div class="form-group">
			<label for="cor_color_int" class="col-sm-2 control-label">Color interior:</label>
				<div class="col-sm-3">
					<select name="cor_color_int" id="cor_color_int" class="form-control">
						<option>-defina color-</option>
						<option>Gris-arena</option>
						<option>Galvanizado</option>
						<option>Café claro (china)</option>
						<option>Blanco (china)</option>
						<option>Gris (china)</option>
						<option>Verde (china)</option>
						<option>Gris overhead</option>
						<option>Reverso lógico</option>
					</select>
				</div>
		</div>

	</div>	
</div>

{{!-- Box 4 --}}
<div class="row no-gutter">
	<h5 class="box-heading">4. Cobertor</h5>
	<div class="col-sm-10 col-sm-offset-3">
		
		<div class="form-group">
			<label for="cor_cob_color" class="col-sm-2 control-label">Color:</label>
				<div class="col-sm-3">
					<select name="cor_cob_color" id="cor_cob_color" class="form-control">
						<option>Gris (china)</option>
						<option>Galvanizado</option>
						<option>Café claro (china)</option>
						<option>Blanco (china)</option>
					</select>
				</div>
		</div>
			
		<div class="form-group">
			<div class="col-sm-offset-3">
				<div class="radio">
				  <label>
				    <input type="radio" name="optionsRadio" id="noCob" value="option1" aria-label="..." checked>
				    No lleva
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="optionsRadio" id="roundCob" value="option2" aria-label="...">
				    <img class="img-cobertor" src="/img/cobertor-round.png">
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="optionsRadio" id="squareCob" value="option3" aria-label="...">
				    <img class="img-cobertor" src="/img/cobertor-sq.png">
				  </label>
				</div>
			</div>
		</div>

	</div><!--end of column-->
</div><!--end of row-->

{{!-- Box 5 --}}
<div class="row no-gutter">
	<h5 class="box-heading">5. Accesorios</h5>
	<div class="col-sm-10 col-sm-offset-3">

		<div class="form-group">
			<div class="col-sm-offset-3">

				<div class="checkbox">
				  <label>
				    <input type="checkbox" value="">
				    Catalina
				  </label>
				</div>
				<div class="checkbox">
				  <label>
				    <input type="checkbox" value="">
				    Gancho p bajar
				  </label>
				</div>
				<div class="checkbox">
				  <label>
				    <input type="checkbox" value="">
				    Ojos de candado
				  </label>
				</div>
				<div class="checkbox">
				  <label>
				    <input type="checkbox" value="">
				    Cerradura central
				  </label>
				</div>
				<div class="checkbox">
				  <label>
				    <input type="checkbox" value="">
				    Mirilla
				  </label>
				</div>
				<div class="checkbox">
				  <label>
				    <input type="checkbox" value="">
				    Hule inferior (std.)
				  </label>
				</div>
				<div class="checkbox">
				  <label>
				    <input type="checkbox" value="">
				    Sello lateral (opc.)
				  </label>
				</div>
				<div>
					<label for="" class="control-label">Otros</label>
					<input type="text" name="cor_accesorio1" class="form-control accesorio-otro">
					<input type="text" name="cor_accesorio2" class="form-control accesorio-otro">
					<input type="text" name="cor_accesorio3" class="form-control accesorio-otro">
					<input type="text" name="cor_accesorio4" class="form-control accesorio-otro">
				</div>
				

			</div>
		</div>

	</div><!--end of column-->
</div><!--end of row-->

{{!-- Box 6 --}}
<div class="row no-gutter">
	<h5 class="box-heading">6. Automatización</h5>
	<div class="col-sm-10 col-sm-offset-4">
		
	<div class="form-group">
		<label for="cor_motor" class="col-sm-2 control-label">Modelo de motor:</label>
		<div class="col-sm-3">
			<select name="cor_motor" id="cor_motor" class="form-control">
					<option>No lleva</option>
					<option>Centro eje</option>
					<option>3950 Liftmaster</option>
					<option>MH5011 Liftmaster</option>
					<option>H5011 Liftmaster</option>
					<option>GH1021 Liftmaster</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="cor_caudro" class="col-sm-2 control-label">Cuadro de control:</label>
		<div class="col-sm-3">
			<select name="cor_caudro" id="cor_caudro" class="form-control">
					<option>-defina cuadro-</option>
					<option>No lleva</option>
					<option>Incorporado</option>
					<option>Derecha abajo rollo</option>
					<option>Izquierda abajo rollo</option>
					<option>Alejado, cobro extra</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="cor_sensor" class="col-sm-2 control-label">Sensor infrarojo:</label>
		<div class="col-sm-3">
			<select name="cor_sensor" id="cor_sensor" class="form-control">
					<option>-defina sensor-</option>
					<option>No lleva</option>
					<option>CPS</option>
					<option>CPS-LN4</option>
					<option>Pupila</option>
					<option>Delta</option>
					<option>-otro especificar-</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="cor_banda" class="col-sm-2 control-label">Banda sensible:</label>
		<div class="col-sm-3">
			<select name="cor_banda" id="cor_banda" class="form-control">
					<option>-defina si lleva banda-</option>
					<option>Si</option>
					<option>No lleva</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="cor_cob_motor" class="col-sm-2 control-label">Cobertor motor:</label>
		<div class="col-sm-3">
			<select name="cor_cob_motor" id="cor_cob_motor" class="form-control">
					<option>-defina cobertor motor-</option>
					<option>No lleva</option>
					<option>Si, simple x lluvia</option>
					<option>Si, con candado</option>
			</select>
		</div>
	</div>

	</div><!--end of column-->
</div><!--end of row-->

{{!-- Box 7 --}}
<div class="row no-gutter">
	<h5 class="box-heading">7. Posición Motor o Catalina</h5>
	<div class="col-sm-10 col-sm-offset-2">
	</div><!--end of column-->
</div><!--end of row-->

{{!-- Box 8 --}}
<div class="row no-gutter">
	<h5 class="box-heading">8. Medios de Activación</h5>
	<div class="col-sm-10 col-sm-offset-4">

	<div class="form-group">
		<label for="cor_bot" class="col-sm-2 control-label">Botonera:</label>
		<div class="col-sm-3">
			<select name="cor_bot" id="cor_bot" class="form-control">
					<option>-defina boton-</option>
					<option>No lleva</option>
					<option>Si, un botón</option>
					<option>Si, 2 botón</option>
					<option>Si, 3 botón</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="cor_selector" class="col-sm-2 control-label">Selector de Llave:</label>
		<div class="col-sm-2">
			<select name="cor_selector" id="cor_selector" class="form-control">
					<option>-defina-</option>
					<option>Si</option>
					<option>No lleva</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="cor_receptor" class="col-sm-2 control-label">Receptor Remotos:</label>
		<div class="col-sm-2">
			<select name="cor_receptor" id="cor_receptor" class="form-control">
					<option>-defina-</option>
					<option>Si</option>
					<option>No lleva</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="cor_controles" class="col-sm-2 control-label">Controles Remotos:</label>
		<div class="col-sm-2">
			<select name="cor_controles" id="cor_controles" class="form-control">
					<option>-defina-</option>
					<option>Si, especifique</option>
					<option>No lleva</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="cor_bot_cod" class="col-sm-2 control-label">Botonera Código:</label>
		<div class="col-sm-2">
			<select name="cor_bot_cod" id="cor_bot_cod" class="form-control">
					<option>-defina-</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
			</select>
		</div>
	</div>

	</div><!--end of column-->
</div><!--end of row-->

{{!-- Box 9 --}}
<div class="row no-gutter">
	<h5 class="box-heading">9. Sensor, Cuadro y Botonera (a máx 3m)</h5>
	<div class="col-sm-10 col-sm-offset-5">
		
		<div class="form-group">
			<div class="radio">
			  <label>
			    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
			    <strong>Total:</strong> Accesos entuba y cablea
			  </label>
			</div>
			<div class="radio">
			  <label>
			    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
			    <strong>Básico:</strong> Accesos cablea/tubos cliente
			  </label>
			</div>
			<div class="radio disabled">
			  <label>
			    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
			    <strong>Mínimo:</strong> Cliente cablea 100%
			  </label>
			</div>
		</div>

		<div class="form-group">
			<span>Voltaje</span>
			<select name="cor_volt" id="cor_volt">
				<option>220</option>
				<option>110</option>
			</select>
			<span>a cargo</span>
			<select name="cor_volt_carg" id="cor_volt_carg">
				<option>Cliente</option>
				<option>Accesos</option>
			</select>	
		</div>

		<div class="form-group">
			<span>Cableados botoneras por</span>
			<select name="cor_cable_carg" id="cor_cable_carg">
				<option>Cliente</option>
				<option>Accesos</option>
			</select>
		</div>

	</div><!--end of column-->
</div><!--end of row-->

{{!-- Box 10 --}}
<div class="row no-gutter">
	<h5 class="box-heading">10. Desinstalar</h5>
	<div class="col-sm-10 col-sm-offset-2">
	</div><!--end of column-->
</div><!--end of row-->

{{!-- Box 11 --}}
<div class="row no-gutter">
	<h5 class="box-heading">11. Herramienta y Equipo Especial</h5>
	<div class="col-sm-10 col-sm-offset-2">
	</div><!--end of column-->
</div><!--end of row-->

{{!-- Box 12 --}}
<div class="row no-gutter">
	<h5 class="box-heading">12. Rollo oculto</h5>
	<div class="col-sm-10 col-sm-offset-2">
	</div><!--end of column-->
</div><!--end of row-->

{{!-- Box 13 --}}
<div class="row no-gutter">
	<h5 class="box-heading">13. Fotos en Publica</h5>
	<div class="col-sm-10 col-sm-offset-2">
	</div><!--end of column-->
</div><!--end of row-->

{{!-- Box 14 --}}
<div class="row no-gutter">
	<h5 class="box-heading">14. Puerta Independiente</h5>
	<div class="col-sm-10 col-sm-offset-2">
	</div><!--end of column-->
</div><!--end of row-->

{{!-- Box 15 --}}
<div class="row no-gutter">
	<h5 class="box-heading">15. Segmentar</h5>
	<div class="col-sm-10 col-sm-offset-2">
	</div><!--end of column-->
</div><!--end of row-->

{{!-- Box 16 --}}
<div class="row no-gutter">
	<h5 class="box-heading">16. Dibujos y Comentarios</h5>
	<div class="col-sm-10 col-sm-offset-2">
	</div><!--end of column-->
</div><!--end of row-->

{{!-- Box 17 --}}
<div class="row no-gutter">
	<h5 class="box-heading">17. Condición Submital</h5>
	<div class="col-sm-10 col-sm-offset-2">
	</div><!--end of column-->
</div><!--end of row-->

</form><!--close huge ass form-->


<div class="row">
		<form action="/cortina-open" method="POST">
			<input type="hidden" name="id" value="{{_id}}">
			<div class="form-group">
			<button name="cortina-open" type="submit" class="btn btn-default">Abrir Cortina Specifications</button>
		</form>
</div>



{{/proyecto}}