<h3>Encuestas</h3>

<div class="menubutton">
	<a href="#" class="btn btn-primary btn-lg btn-block">Sugerencias</a>
</div>

<div class="menubutton">
	<a href="#" class="btn btn-primary btn-lg btn-block">Checklist</a>
</div>

<div class="menubutton">
	<a href="#" class="btn btn-primary btn-lg btn-block">Verificacion Datas</a>
</div>

