<a href="home" id="homebutton"><img src="img/home-icon.png" alt="Home"></a>
<div class="row">
<h3>Encuestas</h3>

<div class="col-sm-4"></div>
<div class="col-sm-4">

	<div class="menubutton">
		<a href="#" class="btn btn-primary btn-lg btn-block">Sugerencias</a>
	</div>

	<div class="menubutton">
		<a href="#" class="btn btn-primary btn-lg btn-block">Checklist</a>
	</div>

	<div class="menubutton">
		<a href="#" class="btn btn-primary btn-lg btn-block">Verificacion Datas</a>
	</div>
</div>
</div><!--end row-->
