<h3>Menu Principal</h3>


<div class="menubutton">
	<a href="motor" class="btn btn-primary btn-lg btn-block">Buscar Motor</a>
</div>

<div class="menubutton">
	<a href="acceso" class="btn btn-primary btn-lg btn-block">Especificar Acceso</a>
</div>

<div class="menubutton">
	<a href="peso" class="btn btn-primary btn-lg btn-block">Calcular Peso</a>
</div>

<div class="menubutton">
	<a href="encuestas" class="btn btn-primary btn-lg btn-block">Encuestas</a>
</div>

<div class="menubutton">
	<a href="cliente" class="btn btn-primary btn-lg btn-block">Registrar Cliente</a>
</div>