<a href="home" id="homebutton"><img src="img/home-icon.png" alt="Home"></a>

<div class="row">
  <h3>Calcular Peso</h3>
  <div class="col-sm-3"></div>
  <div class="col-sm-9">
    <form action ="/peso" id="pesoForm" class="form-horizontal" method="POST" role="form">
      <input type="hidden" name="_csrf" value="{{_csrfToken}}">
      <div class="form-group">
        <label for="#" class="col-sm-2 control-label">Nombre Proyecto</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="#" name="proyecto">
        </div>
      </div>

      <div class="form-group">
        <label for="#" class="col-sm-2 control-label">Dise&ntilde;o Tipo</label>
        <div id="porton-search" class="col-sm-6">

          <select class="form-control" name="portonModel">
            <option>Para rellenar</option>
            <option>Lámina de cortina</option>
            <option>Lámina rectangular techo</option>
            <option>Lámina Southgate</option>
            <option>Thermatite hibrido</option>
            <option>Thermatite jaspeado hibrido</option>
            <option>Thermatite aluminio</option>
            <option>Thermatite jaspeado aluminio</option>
            <option>Punta diamante</option>
            <option>Láminado no.16 a 1 cara</option>
            <option>Láminado no.16 a 2 cara</option>
            <option>Láminado no.16 a 1 cara y arco</option>
            <option>Reja europea</option>
            <option>Malla ciclón</option>
            <option>Expandida pesada</option>
            <option>Expandida liviana</option>
            <option>Expandida decorativa</option>
            <option>Barrote 1x1</option>
            <option>Barrote 1x1 - 1 figuras</option>
            <option>Barrote 1x1 - 2 figuras</option>
            <option>Herrería simple</option>
            <option>Herrería simple y arco</option>
            <option>Herrería y laminado</option>
            <option>Herrería complejo</option>
            <option>Herrería cuadriculado</option>
            <option>Herrería muy complejo</option>
            <option>Barrotes 1x2</option>
            <option>Barrotes 2x2</option>
            <option>Barrote seguido</option>
          </select>
          
        </div>
      </div>

      <div class="form-group">
        <label for="#" class="col-sm-2 control-label">Alto Libre</label>
        <div class="col-sm-4">
          <div class="input-group">
            <input type="text" class="form-control" id="#" placeholder="Alto" name="alto" required>
            <div class="input-group-addon">cm</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="#" class="col-sm-2 control-label">Ancho Libre</label>
        <div class="col-sm-4">
          <div class="input-group">
            <input type="text" class="form-control" id="#" placeholder="Ancho" name="ancho" required>
            <div class="input-group-addon">cm</div>
          </div>
        </div>
      </div>
      <br>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-warning">Calcular</button>
          <button type="reset" class="btn btn-default" id="reset">Borrar</button>
        </div>
      </div>
    </form>
  </div>
</div><!--end row-->
<br>
<br>
<div class="row">
  <div id="spinner"><img src="img/ajax-loader.gif"></div>
</div>
<br>
<div class="row">
  <div class="resultContainer"></div>
</div>
<br>
<br>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-8">
      <button id="savePeso" type="submit" class="btn btn-success hidden">Save to Project</button>
  </div>
</div>


{{#section 'jquery'}}
<script>
    $('document').ready(function(){

      //Calculate Button
      $('form').on('submit', function(e){
          e.preventDefault();
          $('#spinner').show();
          var action = $(this).attr('action');
          //AJAX call
          $.ajax({
            url: action,
            method: 'POST',
            data: $(this).serialize(),
            dataType: 'json',
            success: function(data) {
              console.log(data);
              if(data.success){
                $('.resultContainer').html('Peso: ' + ((data.ancho/100) * (data.alto/100) * data.peso).toFixed(2) + ' kg');
              }  else {
                $('.resultContainer').html('<p>Oops, there was a problem</p>');
              }
            },
            error: function(){
              $('.resultContainer').html('Oops we have a problem');
            }
          }).done(function(){
            $('#spinner').hide();
          });

          // $('#savePeso').removeClass('hidden');
      });

      //Reset button
      $('#reset').on('click', function(){
        $("#pesoForm").trigger('reset');
        $('.resultContainer').empty();
        // $('#savePeso').addClass('hidden');  //not working
      });
    });
</script>
{{/section}}
