{{#proyecto}}

<div class="row">
  <a href="/api/proyectos/{{_id}}" id="backbutton"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Regresar</a>
  <h3>Calcular Peso</h3>
  <div class="col-sm-3"></div>
  <div class="col-sm-9">
    <form action ="/peso" id="pesoForm" class="form-horizontal" method="POST">
      <input type="hidden" name="_csrf" value="{{_csrfToken}}">

      <div class="form-group">
        <label for="docNo" class="col-sm-3 control-label">Numero de Documento</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" name="docNo">
        </div>
      </div>

      <div class="form-group">
        <label for="#" class="col-sm-3 control-label">Dise&ntilde;o de Portón</label>
        <div id="porton-search" class="col-sm-6">
          <select class="form-control" name="portonModel">
            <option>Para rellenar</option>
            <option>Lámina de cortina</option>
            <option>Lámina rectangular techo</option>
            <option>Lámina Southgate</option>
            <option>Thermatite hibrido</option>
            <option>Thermatite jaspeado hibrido</option>
            <option>Thermatite aluminio</option>
            <option>Thermatite jaspeado aluminio</option>
            <option>Punta diamante</option>
            <option>Láminado no.16 a 1 cara</option>
            <option>Láminado no.16 a 2 cara</option>
            <option>Láminado no.16 a 1 cara y arco</option>
            <option>Reja europea</option>
            <option>Malla ciclón</option>
            <option>Expandida pesada</option>
            <option>Expandida liviana</option>
            <option>Expandida decorativa</option>
            <option>Barrote 1x1</option>
            <option>Barrote 1x1 - 1 figuras</option>
            <option>Barrote 1x1 - 2 figuras</option>
            <option>Herrería simple</option>
            <option>Herrería simple y arco</option>
            <option>Herrería y láminado</option>
            <option>Herrería complejo</option>
            <option>Herrería cuadriculado</option>
            <option>Herrería muy complejo</option>
            <option>Barrotes 1x2</option>
            <option>Barrotes 2x2</option>
            <option>Barrote seguido</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="#" class="col-sm-3 control-label">Alto Libre</label>
        <div class="col-sm-4">
          <div class="input-group">
            <input type="text" class="form-control" id="#" placeholder="Alto" name="alto" required>
            <div class="input-group-addon">cm</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="#" class="col-sm-3 control-label">Ancho Libre</label>
        <div class="col-sm-4">
          <div class="input-group">
            <input type="text" class="form-control" id="#" placeholder="Ancho" name="ancho" required>
            <div class="input-group-addon">cm</div>
          </div>
        </div>
      </div>

      <br>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button name="calculate" type="submit" class="btn btn-warning">Calcular</button>
          <button name="reset" type="reset" class="btn btn-default" id="reset">Borrar</button>
        </div>
      </div>
    </form>  

      <br>
      <br>
        <div id="spinner"><img src="img/ajax-loader.gif"></div>
      <br>
        <div class="resultContainer"></div>
      <br>
      <br>

    <form action="/savePeso" method="POST">
        <input type="hidden" name="pesoProjectId" value="{{_id}}"></input>
        <input type="hidden" id="pesoSaved" name="pesoSaved"></input>
        <input type="hidden" id="altoSaved" name="altoSaved"></input>
        <input type="hidden" id="anchoSaved" name="anchoSaved"></input>
        <input type="hidden" id="portonSaved" name="portonSaved"></input>
        <input type="hidden" id="portonNoSaved" name="portonNoSaved"></input>
        <div id="savePesoButton">
            <button name="savePeso" type="submit" class="btn btn-success">Guardar</button>
        </div>
    </form>

{{/proyecto}}

  </div><!--end column-->

</div><!--end row-->


{{#section 'jquery'}}
<script>
    $('document').ready(function(){

      //Calculate Button
      $('#pesoForm').on('submit', function(e){
          e.preventDefault();
          $('#spinner').show();
          var action = $(this).attr('action');
          //AJAX call
          $.ajax({
            url: action,
            method: 'POST',
            data: $(this).serialize(),
            dataType: 'json',
            success: function(data) {
              console.log(data);
              if(data.success){
                var totalPeso = ((data.ancho/100) * (data.alto/100) * data.peso).toFixed(2);
                $('.resultContainer').html('Peso: ' + totalPeso + ' kg');
                $('#savePesoButton').show();
                $('#pesoSaved').val(totalPeso);
                $('#portonSaved').val(data.portonModel);
                $('#portonNoSaved').val(data.portonNo);
                $('#altoSaved').val(data.alto);
                $('#anchoSaved').val(data.ancho);

              } else {
                $('.resultContainer').html('<p>Oops, there was a problem</p>');
              }
            },
            error: function(){
              $('.resultContainer').html('Oops we have a problem');
            }
          }).done(function(){
            $('#spinner').hide();
            console.log('AJAX was a success')
          });
      });

      //Reset button
      $('#reset').on('click', function(){
        $("#pesoForm").trigger('reset');
        $('.resultContainer').empty();
        $('#savePesoButton').hide();
      });

    });
</script>
{{/section}}
