<div id="logout"><a href="logout" class="btn btn-link">Cerrar sesión</a></div>
<a href="home" id="homebutton"><img src="img/home-icon.png" alt="Home"></a>

<div class="row">
  <h3>Calcular Peso</h3>
  <div class="col-sm-3"></div>
  <div class="col-sm-9">
    <form action ="/peso" id="pesoForm" class="form-horizontal" method="POST" role="form">
      <input type="hidden" name="_csrf" value="{{_csrfToken}}">
      <div class="form-group">
        <label for="#" class="col-sm-2 control-label">Nombre Proyecto</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="#" name="proyecto">
        </div>
      </div>

      <div class="form-group">
        <label for="#" class="col-sm-2 control-label">Dise&ntilde;o Tipo</label>
        <div id="porton-search" class="col-sm-6">
          <input class="typeahead form-control" type="text" autocomplete="off" placeholder="Buscar port&oacute;n" name="portonModel" required>
        </div>
      </div>

      <div class="form-group">
        <label for="#" class="col-sm-2 control-label">Alto Libre</label>
        <div class="col-sm-4">
          <div class="input-group">
            <input type="text" class="form-control" id="#" placeholder="Alto" name="alto" required>
            <div class="input-group-addon">cm</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="#" class="col-sm-2 control-label">Ancho Libre</label>
        <div class="col-sm-4">
          <div class="input-group">
            <input type="text" class="form-control" id="#" placeholder="Ancho" name="ancho" required>
            <div class="input-group-addon">cm</div>
          </div>
        </div>
      </div>
      <br>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-warning">Calcular</button>
          <button type="reset" class="btn btn-default" id="reset">Borrar</button>
        </div>
      </div>
    </form>
  </div>
</div><!--end row-->
<br>
<br>
<div class="row">
  <div id="spinner"><img src="img/ajax-loader.gif"></div>
</div>
<br>
<div class="row">
  <div class="resultContainer"></div>
</div>
<br>
<br>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-8">
      <button id="savePeso" type="submit" class="btn btn-success hidden">Save to Project</button>
  </div>
</div>


{{#section 'jquery'}}
<script>
    $('document').ready(function(){

      //Calculate Button
      $('form').on('submit', function(e){
          e.preventDefault();
          $('#spinner').show();
          var action = $(this).attr('action');
          //AJAX call
          $.ajax({
            url: action,
            method: 'POST',
            data: $(this).serialize(),
            dataType: 'json',
            success: function(data) {
              console.log(data);
              if(data.success){
                $('.resultContainer').html('Peso: ' + ((data.ancho/100) * (data.alto/100) * data.peso).toFixed(2) + ' kg');
              }  else {
                $('.resultContainer').html('<p>Oops, there was a problem</p>');
              }
            },
            error: function(){
              $('.resultContainer').html('Oops we have a problem');
            }
          }).done(function(){
            $('#spinner').hide();
          });

          // $('#savePeso').removeClass('hidden');
      });

      //Reset button
      $('#reset').on('click', function(){
        $("#pesoForm").trigger('reset');
        $('.resultContainer').empty();
        // $('#savePeso').addClass('hidden');  //not working
      });
    });
</script>
{{/section}}


{{#section 'typeahead'}}

<script src="js/vendor/typeahead.jquery.js" type="text/javascript"></script>
<script>
  var substringMatcher = function(strs) {
    return function findMatches(q, cb) {
      var matches, substringRegex;

      // an array that will be populated with substring matches
      matches = [];

      // regex used to determine if a string contains the substring `q`
      substrRegex = new RegExp(q, 'i');

      // iterate through the pool of strings and for any string that
      // contains the substring `q`, add it to the `matches` array
      $.each(strs, function(i, str) {
        if (substrRegex.test(str)) {
          matches.push(str);
        }
      });

      cb(matches);
    };
  };

  var portonTipos = ['Para rellenar',
    'Lamina de cortina',
    'Lamina rectangular techo',
    'Lamina Southgate',
    'Thermatite hibrido',
    'Thermatite jaspeado hibrido',
    'Thermatite aluminio',
    'Thermatite jaspeado aluminio',
    'Punta diamante',
    'Laminado no.16 a 1 cara',
    'Laminado no.16 a 2 cara',
    'Laminado no.16 a 1 cara y arco',
    'Reja europea',
    'Malla ciclon',
    'Expandida pesada',
    'Expandida liviana', 
    'Expandida decorative', 
    'Barrote 1x1',
    'Barrote 1x1 - 1 figuras',
    'Barrote 1x1 - 2 figuras',
    'Herreria simple', 
    'Herreria simple y arco', 
    'Herreria y laminado',
    'Herreria complejo', 
    'Herreria cuadriculado', 
    'Herreria muy complejo',
    'Barrotes 1x2',
    'Barrotes 2x2',
    'Barrote seguido',
  ];

  $('#porton-search .typeahead').typeahead({
    hint: true,
    highlight: true,
    minLength: 1
  },
  {
    name: 'portonTipos',
    source: substringMatcher(portonTipos)
  });
</script>

{{/section}}

