
<div class="row">
	
	<h3>Start Page</h3>

	<div class="col-sm-4"></div>
	<div class="col-sm-4">
		<div class="menubutton">
			<a href="create" class="btn btn-primary btn-lg btn-block">Create New Project</a>
		</div>

		<div class="menubutton">
			<a href="api/proyectos" class="btn btn-primary btn-lg btn-block">Existing Projects</a>
		</div>

		<div class="menubutton">
			<a href="home" class="btn btn-primary btn-lg btn-block">Home Menu</a>
		</div>
	<div class="col-sm-4"></div>

	
</div><!--end row-->