
<div class="row">
	
	<h3>Start Page</h3>

	<div class="col-sm-4"></div>
	<div class="col-sm-4">
		<div class="menubutton">
			<a href="create" class="btn btn-primary btn-lg btn-block">Create New Project</a>
		</div>
		<br><br><br><br><br>
		<div class="menubutton">
			<a href="api/proyectos" class="btn btn-primary btn-lg btn-block">Existing Projects</a>
		</div>


{{!-- 		<a href="create" id="createbutton">Create New</a> --}}

{{!-- 		<div class="menubutton">
			<a href="home" class="btn btn-primary btn-lg btn-block">Home Menu</a>
		</div> --}}
	<div class="col-sm-4"></div>

	
</div><!--end row-->