body {
  padding: 50px;
  font: 1.3em "Lucida Grande", Helvetica, Arial, sans-serif;
/*  uncertain to use em or px for font size*/
}

a {color: #00B7FF}

nav {
    display: block;
    float: right;
}

.btn {font-size: 1em}

/*h3 {
    font-family: Georgia;
    text-align: center;
    font-weight: bold;
    padding: 1.5em;
    margin-top: 2em;
}*/

h4 {
    font-family: Georgia;
    text-align: center;
    font-weight: bold;
    padding: 1.5em;
    margin-top: 2em;
}

h5 {font-weight: bold}

.box-heading {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 2em;
    text-decoration: underline;
}

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.hidden {display: none !important}

#backbutton {
    float: left;
    text-decoration: none;
    color: #333;
    padding-top: .7em;
    margin-left: -3em;
}

#userButton {
    float: right;
    border-radius: 15px !important;
    margin-right: -4em;
}


/*Login-Signup Pages*/

#frontlogo {
	text-align: center;
	padding-top: 2em;
    padding-bottom: 2em;;
    width: 18em;
}

.form-control {max-width: 22em}


#alertpanel {
	margin-top: 3em;
/*    width: 80%;*/
}

#loginform #signupform {padding-top: 1em}

/*Projects*/

.thumbnail{
    position: relative;
    display: block;
    padding: 1.5em;
}

.thumbnail:hover {
    border-color: #428bca;
    background-color: #f2f2f2;
}

.tag {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#createbutton {padding-bottom: 1.5em}

/*ProView*/

#projectsbutton {margin-left: -2.8em}


/*Menu Principal*/

.menubutton {
	padding-top: 1em;
	padding-bottom: 1em;
}


footer {
	font-size: 10px;
    clear: both;
}


/*Peso Page*/

.resultContainer {
    font-weight: bold;
    font-size: 1.5em;
    color: #e60000;
}

#pesoresults {margin-top: 2em}

#spinner {display: none}

#reset {margin-left: 2em}

#savePesoButton {display: none}

/*Cortina*/

.box-container {text-align: center}

.diagram-container {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-top: 3em;
}

.diagram-input {
    width: 40px;
    border: 1px solid red;
}

#main-input-H {
    position: absolute;
    left: 3%;
    bottom: 35%;
}

#main-input-CE {
    position: absolute;
    left: 5%;
    bottom: 52%;
}

#main-input-CI {
    position: absolute;
    left: 31.25%;
    bottom: 51%;
}

#main-input-H2 {
    position: absolute;
    left: 32%;
    bottom: 35%;
}

#main-radio1 {
    position: absolute;
    left: 6%;
    bottom: 11%;
}

#main-radio2 {
    position: absolute;
    left: 13%;
    bottom: 11%;
}

#main-radio3 {
    position: absolute;
    left: 21%;
    bottom: 11%;
}

#main-radio4 {
    position: absolute;
    left: 29%;
    bottom: 11%;
}

#main-radio5 {
    position: absolute;
    left: 38%;
    bottom: 11%;
}

.img-cobertor {width: 70%}

.accesorio-otro {width: 15em}

#box6-radio1 {
    position: absolute;
    left: 7%;
    bottom:73%;
}

#box6-radio2 {
    position: absolute;
    left: 60%;
    bottom: 73%;
}

#box6-radio3 {
    position: absolute;
    left: 42%;
    bottom: 1%;
}

#box7-radio1 {
    position: absolute;
    left: 8%;
    bottom:77%;
}

#box7-radio2 {
    position: absolute;
    left: 68%;
    bottom: 77%;
}

#box7-radio3 {
    position: absolute;
    left: 62%;
    bottom: 3%;
}

#box7-radio4 {
    position: absolute;
    left: 7%;
    bottom: 3%;
}

#box12-input1 {
    position: absolute;
    left: 5;
    bottom: 40%;
}

#box12-input2 {
    position: absolute;
    left: 39%;
    bottom: 24%;
}

#box12-input3 {
    position: absolute;
    left: 55%;
    bottom: 90%;
}

#box14-input1 {
    position: absolute;
    left:2%;
    bottom: 39%;
}

#box14-input2 {
    position: absolute;
    left:24%;
    bottom: 77%;
}

#box14-input3 {
    position: absolute;
    left:62%;
    bottom: 77%;
}

#box14-input4 {
    position: absolute;
    left:84%;
    bottom: 39%;
}

#box14-radio1 {
    position: absolute;
    left: 14%;
    bottom: 2%;
}

#box14-radio2 {
    position: absolute;
    left: 53%;
    bottom: 2%;
}

#box15-input1 {
    position: absolute;
    left: 3%;
    bottom: 40%;
}

#box15-input2 {
    position: absolute;
    left: 3%;
    bottom: 72%;
}

#box15-input3 {
    position: absolute;
    left: 21%;
    bottom: 87%;
}

#box15-input4 {
    position: absolute;
    left: 70%;
    bottom: 87%;
}

#box15-input5 {
    position: absolute;
    left: 86%;
    bottom: 72%;
}

#box15-input6 {
    position: absolute;
    left: 86%;
    bottom: 40%;
}

#box15-radio1 {
    position: absolute;
    left: 20%;
    bottom: 14%;
}

#box15-radio2 {
    position: absolute;
    left: 57%;
    bottom: 14%;
}